.body {
  background-color: black;
  text-align: center;
  align-items: center;
}

.header {
  background-color: blueviolet;
  background-image: url('https://cdn.pixabay.com/photo/2016/02/19/11/19/computer-1209641_1280.jpg');
  height: 500px;
  font-size: 20px;
  font-weight: 20px;
  color: white;
}

.tutweb {
  padding-top: 58px;
  opacity: 1;
  font-size: 3.3em;
  font-family: monospace;
  align-items: center;
  padding-left: 60px;
}

.tut {
  background-color: blueviolet;
  background: rgba(138, 43, 226, 0.58); 
  height: 200px;
}

.heading {
    font-size: 8em;
    color: white;
    font-family: monospace;
    text-align: center;
  }

.list {
    color: white;
    font-size: 1.5em;
    padding-right: 50px;
  }

a {
  border: 3px;
  border-radius: 4px;
  border-style: solid white;
}

a:link {
  color: white;
  text-shadow: 1px white;
  text-decoration: blink;
  
}

/* visited link */
a:visited {
  color: wheat;
} 

/* mouse over link */
a:hover {
  color: yellow;
  text-decoration: underline;
}

/* selected link 
a:active {
  color: wheat;
} */

ul {
  list-style-type:none;
}

.footer {
  background: rgba(138, 43, 226, 0.45); 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 43px;
}

.Frontend {
  text-align: center;
  align-items: center;
}

#logo1 {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    padding-left: 30px;
    padding-top: 18px;
    opacity: 0.85;
}